# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

services:
  grafana:
    container_name: grafana
    image: grafana/grafana-oss
    hostname: "{{ grafana_hostname }}"
    ports:
      - 3000:3000
    environment:
      - TZ={{ timezone }}
      - VIRTUAL_HOST={{ grafana_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=3000
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
      - "./grafana-storage:/var/lib/grafana"
      - "./grafana-provisioning/:/etc/grafana/provisioning"
    restart: unless-stopped
    networks:
      - front-tier
