# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto
    hostname: '{{ mosquitto_hostname }}'
    ports:
      - 1883:1883
      - 9001:9001
    environment:
      - TZ={{ timezone }}
      - VIRTUAL_HOST={{ mosquitto_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=1883
    volumes:
      - './data:/mosquitto'
    restart: unless-stopped
    networks:
      - front-tier
