# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

services:
  nginx-proxy:
    container_name: nginx-proxy
    image: nginxproxy/nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - front-tier
