# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "2000:2000/tcp"
      - "443:443/tcp"
    environment:
      - TZ={{ timezone }}
      - WEBPASSWORD={{ pihole_password }}
      - FTLCONF_LOCAL_IPV4={{ ansible_facts['default_ipv4']['address'] }}
      - DNSMASQ_LISTENING=all
      - VIRTUAL_HOST={{ pihole_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=2000
      - PIHOLE_DNS=9.9.9.9;208.67.222.222
      - DNSSEC=true
      - WEB_PORT=2000
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - front-tier
    extra_hosts:
      - "{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ pihole_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ portainer_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ home_assistant_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ mosquitto_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ victoria_metrics_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
      - "{{ grafana_domain }}.{{ domain_name }}:{{ ansible_facts['default_ipv4']['address'] }}"
