# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

services:
  pihole_button:
    container_name: pihole_button
    image: ztime87/pi-hole-button:latest
    ports:
      - 4444:4444
    environment:
      - PI_HOLE_API_URL=http://{{ ansible_facts['default_ipv4']['address'] }}:4444/admin/api.php
      - AUTH_TOKEN={{ pihole_auth_key }}
      - VIRTUAL_HOST={{ pihole_button_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=4444
    restart: unless-stopped
    networks:
      - front-tier
