# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

services:
  agent:
    image: portainer/agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - front-tier

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    hostname: '{{ portainer_hostname }}'
    command: -H tcp://agent:9001 --tlsskipverify
    ports:
      - "9000:9000/tcp"
    environment:
      - TZ={{ timezone }}
    volumes:
      - './data:/data'
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST={{ portainer_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=9000
    networks:
      - front-tier

