scrape_configs:
  - job_name: "home_assistant"
    scrape_interval: 60s
    metrics_path: /api/prometheus
    bearer_token: "{{ prometheus_bearer_token }}"
    scheme: http
    static_configs:
      - targets: ['{{ ansible_facts['default_ipv4']['address'] }}:8123']
