# {{ ansible_managed }}
---
version: "3.5"

services:
  tailscale:
    image: tailscale/tailscale:stable
    restart: unless-stopped
    env_file:
      - .tailscale_env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /dev/net/tun:/dev/net/tun
      - ./data/tailscale:/var/lib/tailscale
    network_mode: "host"
