# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

services:
  vmagent:
    container_name: vmagent
    image: victoriametrics/vmagent
    depends_on:
      - "victoria-metrics"
    ports:
      - 8429:8429
    volumes:
      - "./vmagentdata:/vmagentdata"
      - "./etc-prometheus:/etc/prometheus"
    command:
      - "--promscrape.config=/etc/prometheus/prometheus.yml"
      - "--remoteWrite.url=http://{{ ansible_facts['default_ipv4']['address'] }}:8428/api/v1/write"
    restart: unless-stopped
    networks:
      - front-tier

  victoria-metrics:
    container_name: victoria-metrics
    image: victoriametrics/victoria-metrics
    hostname: "{{ victoria_metrics_hostname }}"
    ports:
      - 8428:8428
    environment:
      - TZ={{ timezone }}
      - VIRTUAL_HOST={{ victoria_metrics_domain }}.{{ domain_name }}
      - VIRTUAL_PORT=8428
    volumes:
      - "./storage/:/storage"
    command:
      - "--retentionPeriod=50y"
      - "--storageDataPath=/storage"
      - "--httpListenAddr=:8428"
      - "--selfScrapeInterval=60s"
    restart: unless-stopped
    networks:
      - front-tier
