# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  watchtower:
    image: containrrr/watchtower
    environment:
      - TZ={{ timezone }}
      - VIRTUAL_HOST={{ watchtower_domain }}.{{ domain_name }}
    restart: unless-stopped
    networks:
      - front-tier
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
