# Let new devices join our zigbee network
permit_join: true
# use some magic with home assistant
homeassistant: true
# Docker Compose makes the MQTT-Server available using "mqtt" hostname
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://{{ ansible_facts['default_ipv4']['address'] }}:1883'
# Zigbee Adapter path
serial:
  port: {{ zigbee2mqtt_usb_path }}
# Enable the Zigbee2MQTT frontend
frontend:
  port: 8080
# Let Zigbee2MQTT generate a new network key on first start
advanced:
  network_key: GENERATE

