# {{ ansible_managed }}
---
version: "3.5"

networks:
  front-tier:
    name: internet-front-tier

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    hostname: '{{ zigbee2mqtt_hostname }}'
    ports:
      - 8080:8080
    environment:
      - TZ={{ timezone }}
      - VIRTUAL_HOST={{ zigbee2mqtt_hostname }}.{{ domain_name }}
      - VIRTUAL_PORT=8080
    volumes:
      - './data:/app/data'
      - /run/udev:/run/udev:ro
    restart: unless-stopped
    networks:
      - front-tier
    devices:
      - {{ zigbee2mqtt_usb_path }}:{{ zigbee2mqtt_usb_path }}
    group_add:
      - dialout
